.profile-card-wrapper {
  max-width: 400px;
  /* margin: 40px auto; */
  padding: 30px 20px 0 20px;
  text-align: center;

  background-color: transparent;
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.user-name-text {
  font-size: 1.4rem;
  color: #333;
  /* margin-bottom: 5px; */
  font-weight: 500;
}

.user-role-text {
  color: #7d848c;
  font-size: 1rem;
  margin-bottom: 30px;
}

.action-button-row {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 30px;
}

.custom-btn {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 130px;
  justify-content: center;
  cursor: pointer;
}

.custom-btn span {
  font-size: 0.95rem;
  font-weight: 500;
  color: #212529;
}

.custom-btn i {
  color: #6c757d;
  font-size: 1.1rem;
}

.bottom-divider-line {
  border-top: 1px solid #eeeeee;
  margin: 5px;
  height: 15px;
}